<html>
    <head>
        <link rel='stylesheet' type='text/css' href='/static/bootstrap-3.3.1-dist/css/bootstrap.css'>
        <title>Status page</title>
    </head>

    <body>
        <h3>Total Requests: ${countStatistic.totalRequest}</h3>
        <h3>Unique Ip Requests: ${countStatistic.uniqRequest}</h3>
        <h3>Opened Connections: </h3>

        <h3>IP Statistics: </h3>
        <table>
            <thead>
                <tr>
                    <th>Ip</th>
                    <th>Count</th>
                    <th>Last request time</th>
                </tr>
            </thead>
            <tbody>
                #foreach ($item in ${ipStatistics})
                <tr>
                    <td>${item.ip}</td>
                    <td>${item.count}</td>
                    <td>${item.time}</td>
                </tr>
                #end
            </tbody>
        </table>

        <h3>Redirect Statistics: </h3>
        <table>
            <thead>
                <tr>
                    <th>Redirect Url</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                #foreach ($item in ${redirectStatistics})
                <tr>
                    <td>${item.redirectUrl}</td>
                    <td>${item.count}</td>
                </tr>
                #end
            </tbody>
        </table>


        <h3>Request Statistics: </h3>
        <table>
            <thead>
                <tr>
                    <th>Src_Ip</th>
                    <th>Uri</th>
                    <th>Timestamp(ms)</th>
                    <th>sent_bytes</th>
                    <th>received_bytes</th>
                    <th>speed (bytes/sec))</th>
                </tr>
            </thead>
            <tbody>
                #foreach ($item in ${requestStatistics})
                <tr>
                    <td>${item.ip}</td>
                    <td>${item.uri}</td>
                    <td>${item.timestamp}</td>
                    <td>${item.sentBytes}</td>
                    <td>${item.receivedBytes}</td>
                    <td>${item.speed}</td>
                </tr>
                #end
            </tbody>
        </table>


    </body>
</html>